@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

:root {
  /* Colors */
  --primary-color: #030517;
  --white-color: #fafafa;
  --pink-color: #f231a5;
  --green_dark-color: #35bdac;
  --green-color: #3cd3c1;
  --promo-color: #ff5f5f;
  --dark-color: #000000;
  --gray-color: #666666;

  --animation-timing: 200ms ease-in-out;

  /* Typography */
  --main-font-family: "Poppins", sans-serif;

  --border-radius: 4px;

  /* Border */
  --border-main: 1px solid red;
  --border-secont: 1px solid green;
  --border-third: 1px solid blue;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* NAVBAR-MOBILE */
.justify_center {
  width: auto;
  height: 50px;
  /* border: var(--border-main); */
  margin: 46px 25px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  justify-content: end;
  gap: 19px;
}

.right .cart {
  position: relative;
}
.right .cart .circle {
  position: absolute;
  top: -4px;
  right: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 500;
}

.left,
.right {
  width: 100px;
}

/* SIDEBAR-MOBILE */
.sidebar {
  position: fixed;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: var(--white-color);
  display: none;
  transition: 0.4s;
}

.close {
  position: absolute;
  top: 32px;
  right: 24px;
}

.links_side {
  color: var(--dark-color);
  font-size: 28px;
  font-weight: 600;
  flex-direction: column;
  text-decoration: none;
  padding-top: 244px;
  list-style-type: none;
}

.center_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li {
  padding-bottom: 38px;
}

.links_side li.active {
  position: relative;
}

.links_side li.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  height: 3px;
  background-color: var(--pink-color);
}

.margin_header-hero {
  margin-bottom: 84px;
}

.hero_cont {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-top: 18px;
}

.h_title {
  font-size: 20px;
  font-weight: 600;
}

.h_subtitle {
  margin-bottom: 11px;
}

b {
  font-size: 14px;
  color: var(--pink-color);
  font-weight: 700;
}

ul,
li {
  list-style-type: none;
}

.hero_btn {
  width: 127px;
  height: 40px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    179deg,
    #ff5f5f -14.51%,
    #f062c0 102.86%,
    #f23131 102.86%
  );
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  margin-top: auto;
  margin-bottom: 24px;
  -ms-flex-align: end;
}

.hero_btn:hover {
  background: #ff5f5f;
}

.splide__pagination__page {
  background: #d3d3d3 !important;
}
.splide__pagination__page.is-active {
  background: #f231a5 !important;
}

.splide__pagination {
  bottom: -34px !important;
  gap: 15px;
}

.splide__slide.is-active.is-visible {
  height: 100%;
}

.hero_img img {
  width: 100%;
  height: 231px;
  display: block;
  object-fit: cover;
}

/* sections green bar */

.title {
  display: flex;
  gap: 11px;
  align-items: center;
}

.green_bar {
  width: 7px;
  height: 31px;
  background-color: var(--green_dark-color);
}

.title_name {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}

/* splides content */

.n_cont {
  background: var(--white-color);
  padding: 10px 16px 16px 12px;
  display: flex;
  /* gap: 58px; */
  justify-content: space-between;
}

.n_title {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.n_subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #bbbbbb;
}

.n_price {
  background-color: var(--green-color);
  width: 78px;
  height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 2px;
  cursor: pointer;
}

.n_price:hover {
  background-color: var(--green_dark-color);
}

.n_fav {
  text-align: right;
  margin-bottom: 9px;
  cursor: pointer;
}

.n_fav svg {
  fill: var(--dark-color);
}

/* =========================== */
/* read dead img */
/* =========================== */

.overlay {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.container_banner {
  background-image: url(/src/back01.png);
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.up_coming {
  background-image: url(/src/back03.png) !important;
}

.free {
  background-image: url(/src/back05.png) !important;
}

.p_image {
  width: 135px;
  height: 157px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.p_righ {
  position: absolute;
  top: 19px;
  right: 24px;
  text-align: end;
  z-index: 2;
}

.p_title {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p_subtitle {
  margin-top: 3px;
  margin-bottom: 30px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btn_pop {
  width: 127px;
  height: 40px;
  border-radius: 4px;
  margin-top: 0;
  background: linear-gradient(
    179deg,
    #ff5f5f -14.51%,
    #f062c0 102.86%,
    #f23131 102.86%
  );
  color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  border-width: 0;
}

.btn_pop:hover {
  background: #ff5f5f;
}

.up_coming > .p_image {
  width: 213px;
  height: 180px;
  bottom: 0;
  right: 0;
}

.up_coming > .p_righ {
  text-align: start;
  top: 17px;
  left: 23px;
}

.free > .p_image {
  width: 164px;
  height: 164px;
}
.free > .p_title {
  margin-bottom: 30px;
}

/* margins */

.margin_news {
  margin: 42px 0 28px 24px;
}

.margin_popular,
.margin_free,
.margin_upcoming {
  margin: 60px 0 12px 24px;
}

.margin_banner {
  margin: 24px 0;
}

/* =========================== */
/* =========================== */
/* =========================== */
/* footer */

footer {
  margin-top: 106px;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  background-color: white;
  color: var(--gray-color);
}

.main_footer {
  padding: 61px 33px 23px 24px;
}

.content_footer {
  margin: 35px 0 38px 0;
}

.up,
.down {
  display: flex;
  justify-content: space-between;
}

.up {
  margin-bottom: 24px;
}

.up > .follow {
  width: 142.672px;
}

.down {
}

.down > .links {
  width: 168.484px;
}

.footer_title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.green_bar_f {
  width: 22px;
  height: 4px;
  margin-top: 3px;
  margin-bottom: 15px;
  background-color: var(--green-color);
}

.footer_subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.green_bar_follow {
  width: 34px;
}

.end_footer {
  font-size: 12px;
  text-align: center;
}
/* nonedisplay */

.only_desktop,
.tag {
  display: none;
}

/* descount */

.morepadding {
  padding-bottom: 37px;
}

.descount {
  position: absolute;
  right: 0;
  bottom: 17px;
  display: flex;
  gap: 21px;
}

.descount .n_desc {
  color: #c7c7c7;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
}

.img_slide {
  width: 100%;
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* desktop */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */

@media screen and (min-width: 768px) {
  .only_desktop {
    display: block;
  }
  .mobile_nav,
  #sidebar,
  .desktop_nav {
    display: none;
  }

  #mainheader {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 60px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    width: 1257px;
    /* border: var(--border-main); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .l,
  .l a,
  .r,
  .nav_links,
  .search,
  .cart,
  .user {
    display: flex;
    align-items: center;
  }

  .l {
    gap: 42px;
  }

  .nav_links {
    gap: 32px;
  }

  .nav_links a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .search {
    /* margin-right: 32px; */
    cursor: pointer;
  }
  .cart {
    margin-right: 29px;
    position: relative;
    cursor: pointer;
  }
  .cart .circle {
    position: absolute;
    top: -4px;
    right: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: 500;
  }

  .user {
    gap: 10px;
    cursor: pointer;
  }

  .nav_links a.active {
    position: relative;
  }

  .nav_links a.active::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 25px;
    width: 40px;
    height: 3px;
    background-color: var(--pink-color);
  }

  .margin_header-hero {
    margin-bottom: 114px;
  }

  .main_hero {
    width: 1042px;
    /* border: var(--border-main); */
    display: flex;
    flex-direction: column;
  }

  .title_name {
    font-size: 28px;
    line-height: 42px;
  }

  .black {
    color: var(--dark-color);
  }

  /* ===================================== */

  .hero {
    width: 1062px;
    height: 583px;
    position: relative;
    /* border: var(--border-main); */
  }

  .hero_img > img {
    width: 1042px;
    height: 583px;
  }

  .hero_cont {
    padding: 31px 0 40px 44px;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 1042px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .splide__pagination {
    right: -70px !important;
  }

  .h_title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
  }

  .h_subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .h_subtitle > b {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .hero_btn {
    margin: 13px 0 0 0;
    width: 182px;
    height: 55px;
    line-height: 55px;

    font-size: 16px;
    font-weight: 500;
  }

  .tag {
    display: flex;
    background-color: #f23131;
    width: 71px;
    height: 24px;
    flex-shrink: 0;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  .tag_hero {
    position: absolute;
    width: 138px;
    height: 36px;
    flex-shrink: 0;
    background-color: #3cd3c1;
    top: 52px;
    right: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
    z-index: 1000;
  }

  .tag > .svg_container {
    position: absolute;
    width: 15px;
    height: 16px;
    right: 1px;
    bottom: -10px;
    z-index: 100;
  }

  .tag > .svg_container > svg {
    width: 100%;
  }

  /* reddead */

  .container_banner {
    background: url(/src/Background.png) center / cover no-repeat, lightgray;
    height: 320px;
  }

  .p_image {
    width: 266px;
    height: 310px;
  }

  .p_righ {
    top: 130px;
    right: 48px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .p_title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
  }

  .p_subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }

  .btn_pop {
    width: 169px;
    height: 40px;
  }

  .up_coming > .p_image {
    width: 380px;
    height: 320px;
    bottom: 0;
    right: 0;
  }

  .up_coming > .p_righ {
    width: 200px;
    align-items: start;
    top: 131px;
    left: 49px;
  }

  /* margins */

  .margin_news {
    margin: 72px 0 32px 0;
  }

  .margin_popular {
    margin: 63px 0 15px 0;
  }

  .margin_upcoming {
    margin: 51px 0 12px 0;
  }

  .margin_banner {
    margin: 72px 0 33px 0;
  }

  .margin_free {
    margin: 72px 0 43px 0;
  }

  footer {
    margin-top: 109px;
    color: var(--dark-color);
  }

  .main_footer {
    width: 1042px;
    /* border: var(--border-main); */
    display: flex;
    flex-direction: column;
    padding: 98px 38px 17px 0;
  }

  .content_footer {
    margin: 32px 0 42px 0;
    display: flex;
    gap: 100px;
  }

  .up,
  .down {
    display: flex;
    gap: 154px;
  }

  .up {
    margin: 0;
  }

  /* fixed bg */
  .white_bg {
    display: block;
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 14rem;
    padding-bottom: 10rem;
    background-color: rgb(242, 242, 242);
    clip-path: polygon(0px 0px, 100% 15%, 100% 100%, 0px 85%);
    z-index: -99;
    top: 685px;
    height: 556px;
  }

  /* arrows */

  .splide_n,
  .splide_p,
  .splide_up,
  .splide_up2,
  .splide_f {
    position: relative;
  }

  .splide__arrow {
    background: none !important;
  }

  .splide_n .splide__arrow svg {
    fill: var(--dark-color) !important;
  }

  .splide__arrow svg {
    fill: #ffffff !important;
  }

  .splide__arrow--prev {
    left: -97px !important;
  }

  .splide__arrow--next {
    right: -97px !important;
  }

  .splide__arrow[disabled] {
    visibility: hidden;
  }

  .splide_up2 li .tag {
    position: absolute;
    top: 13px;
    right: -11px;
  }

  .off_tag {
    position: absolute;
    top: 0;
  }
  .tag > svg {
    position: absolute;
    width: 11px !important;
    height: 6px;
    right: 1px;
    bottom: -5px;
  }

  .free .p_image {
    height: 320px;
    width: 320px;
  }
  .free .p_title {
    margin-bottom: 24px;
  }

  /* ================================ */
  /* ================================ */
  /* ================================ */

  nav {
    position: relative;
    display: flex;
  }

  nav a {
    position: relative;
    margin: 0 20px;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--white-color);
    text-decoration: none;
  }

  nav #marker {
    position: absolute;
    left: 20px;
    width: 48px;
    height: 4px;
    /* width: 0; */
    background: var(--pink-color);
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
  }

  /* ================ */

  .action {
    position: relative;
  }

  .action .menu {
    position: absolute;
    top: 40px;
    right: -30px;
    padding: 10px 20px;
    background: #fafafa;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
  }

  .action .menu.active {
    top: 40px;
    right: -30px;
    visibility: visible;
    opacity: 1;
    z-index: 10000;
  }

  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
  }

  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
  }

  .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    /* border-top: 1px solid rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
  }

  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu ul li:hover img {
    opacity: 1;
  }

  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }

  .action .menu ul li a:hover {
    color: var(--pink-color);
  }

  /* ================ */

  .containerS {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 32px;
  }

  .containerS.activo {
    width: 290px;
    opacity: 1;
    transition: 0.5s;
    /* background-color: #2e2f42; */
  }

  .input {
    opacity: 0;
    transition: 0.5s;
  }

  .activo .input {
    opacity: 1;
    transition: 0.5s;
  }

  .containerS .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    z-index: 1000;
  }

  .containerS .icon .search {
    font-size: 21px;
    cursor: pointer;
  }

  /*  */
  .containerS .input {
    position: relative;
    width: 260px;
    height: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containerS .input input {
    position: absolute;
    top: 0;
    border-radius: 50px;
    width: 250px;
    height: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    background: #2e2f42;
    color: white;
    padding-left: 10px;
  }

  .containerS .input .clear {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 35px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
    color: var(--pink-color);
    visibility: hidden;
  }

  /* scale up */

  /* .hero_img > img {
    transform: scale(1);
    transition: 0.5s;
  }

  .hero_img > img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  } */

  .c_img {
    width: 1042px;
    height: 100%;
    overflow: hidden;
  }

  .c_img > img {
    height: 100%;
    object-fit: cover;
  }

  .hero_img {
    transform: scale(1);
    transition: 0.5s;
    height: 100%;
  }

  .hero_img > img {
    height: 100%;
  }

  .hero_img:hover {
    transform: scale(1.01);
    transition: 0.5s;
  }

  @keyframes slideup {
    from {
      transform: translateY(300px);
    }
    to {
      transform: translateY(0);
    }
  }

  .hero_cont {
    opacity: 0;
  }

  .is-active > .hero_img > .c_img > .hero_cont {
    opacity: 1;
    animation: slideup 2s ease 0s 1 normal both;
  }
  /* .is-active > .hero_cont {
    opacity: 1;
    animation: slideup 2s ease 0s 1 normal both;
  } */
}

/* 
search tirar do todo e tratar o input fild opacity

dropdow - remover ao clicar fora
*/
